{% load staticfiles  %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'switcher/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'switcher/css/jquery-ui.min.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'switcher/css/style.css' %}" />
		<script src="{% static 'switcher/scripts/bootstrap.js' %}"></script>
		<script src="{% static 'switcher/scripts/jquery-1.9.1.js' %}"></script>
		<script src="{% static 'switcher/scripts/script.js' %}"></script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				<a class="navbar-brand" href="#">Section Switcher</a>
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Feedback</a></li>
			</ul>
		</nav>

		{% block main_page_content %}
		{% endblock %}

	</body>
</html>